body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #f4e8ca;

}

/* html { font-size: 1rem; }

@media (min-width: 576px) {
    html { font-size: 0.2rem; }
}
@media (min-width: 768px) {
    html { font-size: 0.3rem; }
}
@media (min-width: 992px) {
    html { font-size: 0.4rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1rem; }
} */

/* 
h1{
    font-size: 50px;
} */

img{
    width: 100%;
    height: 50%;
    
}

.displayWord{
    /* font-size: 4vw; */
    letter-spacing: 11px;
}